<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
	<script type="x-tmpl-mustache" id="questions-template">
		<div data-id='{{id}}'>
			<h2>Title: 
				<span class='title'>{{title}}</span>
			</h2>
			<p>
				<strong>Content: </strong> 
				<span class='content'>{{content}}</span>
			</p>
		</div>
	</script>
	<div class='question'>
	</div>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script	src="/javascript/url.min.js"></script>
	<script src="/javascript/mustache.js"></script>
	<script type="text/javascript" src="/javascript/ajax.js"></script>
	<script src="/javascript/questions/show.js"></script>
</body>
</html>